

:root{
  --white: #f6f6f6;
  --yellow: #e5b642;
  --greeen: #6f934c;
  --black: #020402;
  --red: #af3236;
}
.loginBody{
  background-image: url('./assets/katie-smith-104748.jpg');
  min-height: 100vh;
  min-width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blackOpac{
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(0, 0, 0, 0.319);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginContainer{
  height: 80vh;
  width: 80vw;
  background-color: #6f934cd6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
}
.verticalLine{
  height: 70vh;
  width: 1px;
  background-color: black;
  margin-top: auto;
  margin-bottom: auto;
}
.logoContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoContainer > img{
  height: 40vh;
}
.usernameContainer{
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}
.usernameContainer > input{
  border-radius: 5px;
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 22px;
}
.usernameContainer > div{
  font-size: 22px;
}
.credentialsContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginAndRegister > button{
  padding: 10px;
  font-size: 20px;
  border-radius: 7px;
  margin: 10px;
} 